{% extends 'base.html' %} 
{% block content %}

  <h1>Welcome to Guiding Light</h1>
  <section>
    
    <div>

    </br>
      
    </div>

  </section>
  <div class="container">
    <h2>How to use this site.</h2>
    <p>First create an account if you haven't. Make sure you create your Guardian Profile as well.</p>    <hr/>
    <h2>What Next?</h2>
    <p>From there you are ready to my your first post on the bounty board</p>
    <hr/>
    
        <ul class="dropdown-menu">
          <li>
          <div class="dropdown-menu p-4 text-muted" style="max-width: 200px;">
            <p>
              First create an account if you haven't. Make sure you create your Guardian Profile as well.
            </p>
          </li>
            <li><hr class="dropdown-divider" id="three"></li>
        </ul>
        <div class="dropdown">
          <button class="btn btn-secondary btn-lg" type="button"id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Making a post.</button>
            
              <div class="dropdown-menu bg-dark text-light p-4 " style="max-width: 500px;">
                <p>First write in the name of the particular activity or quest you need help with</p>
                <hr class="dropdown-divider">
              <p>Next place the rank/level of the activity you would like to run. If you would like multiple ranks use commas to show which ones you would like to run</p>
              <hr class="dropdown-divider">
              <p>Notes is where you will place an extra conditions or any other specifics about what your trying to do.(i.e.- time limitations, Mic required, PC player, and so on ...... )</p>
              <hr class="dropdown-divider">
              <p>FInally you going to select a catergory. The current options are : Raid, GM-Nightfall, Dungeon, Strike, Other. Other can be used if you need help with any other particular activity like doing the story on a harder dificulty, Exotic quest guide, or anything else you might need help with</p>
              <hr class="dropdown-divider">
              <p>Now just hit that subscribe button ........ whoops wrong speech. Hit that submit button to place your bounty on the list.</p>
              </div>
            </ul>
  </div>

{% endblock %}