{% extends 'base.html' %}

{% block content %}

<h1>{{jobpost.category}} - {{jobpost.activity_name}} - {{jobpost.date_created}}</h1>
<p>{{jobpost.activity_rank}} </p>
<p>By:</p><a href="{%url 'show_gprofile' jobpost.user_id %}"> {{jobpost.bungieid}}  </a><br/>
<br/> 
{{jobpost.notes}}
<br/> 
{% if user.is_authenticated %}
    {%if user.id == jobpost.user_id %}

<a href="{%url 'jobpost_update' jobpost.pk %}"> Update </a> 
<a href="{%url 'jobpost_delete' jobpost.pk %}"> Delete </a> 
{%endif%}
{%endif%}
<br/> 
<br/> 
<h2>Comments</h2>

</hr>
{%if not jobpost.comments.all  %}
    <p> No comments yet .....</p>
    <a href={%url 'jobpost_addcomment' jobpost.pk %}}> Add Comment</a>
{% else %}
    {% for comments in jobpost.comments.all%}
    {{comments.username}}- {{comments.created}}
    </br>
    {{comments.body}}
    {% endfor %}
    <a href={%url 'jobpost_addcomment' jobpost.pk %}> Add Comment</a>
{%endif%}
<br/><br/> 
</hr>
<a href="{%url 'gamepost_list' %}"> Back to List </a> 
{% endblock %}
