{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<h1>New Job Post</h1>
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit" />
</form>
{% else %}
<h1> Please login to create a new Job Posting</h1>
{%endif%}
<a href="{%url 'gamepost_list' %}"> Back to List </a> 
<script>

    const form = document.getElementsByTagName('input')

    for (let field in form){
            form[field].className += 'form-control-md'
    }
</script>
{% endblock content %}
